nav {
  height: 80px;
  background-color: #0e121b;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-div {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding-left: 20px;
}

.logo-div img {
  height: 60px;
}
